:root {
  --accent: #D94343;
  --text-color: #333333;
  --secondary-color: #9A9A9A;
  --pure-white: #ffffff;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
:root {
  --main-font: 'Lato', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.header {
  padding: 16px 0;
}
.header__logo {
  display: inline-block;
  max-width: 255px;
}
.header__logo-img {
  max-width: 100%;
}
.header__nav-item + .header__nav-item {
  margin-left: 40px;
}
.header__nav-link {
  color: var(--accent);
}
.header__nav-toggler {
  padding-top: 8px;
  border: 1px solid var(--accent);
}
.header__nav-toggler:focus {
  box-shadow: none;
}
.header__nav-toggler path {
  fill: var(--accent);
}
.active {
  color: #0d6efd;
}


.banner {
  min-height: 544px;
  padding-top: 140px;
  padding-bottom: 89px;
  text-align: center;
  color: var(--pure-white);
  text-transform: uppercase;
  background-image: url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner__title {
  margin: 0 0 45px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.5em;
}
.banner__info {
  margin: 0 0 45px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 60px;
}
.banner__info-secondary {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
}
.banner__info-secondary {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
}
.banner__btn {
  width: 213px;
  height: 60px;
  margin-top: 52px;
  padding: 19px;
  border: 2px solid var(--pure-white);
  font-family: var(--main-font);
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--pure-white);
}
.banner__btn:hover {
  color: var(--accent);
}


.cat {
  padding: 60px 0;
}
.cat__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 419px;
}
.cat__item--men {
  background-image: url(../images/main.M.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cat__item--women {
  background-image: url(../images/main.W.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cat__item--accessories {
  background-image: url(../images/main.a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cat__title {
  margin: 0;
}
.cat__link {
  font-family: var(--secondary-font);
  font-style: italic;
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;
  text-transform: capitalize;
  color: var(--pure-white);
  text-decoration: none;
}
.cat__link:hover {
  color: var(--accent);
}
/* Blog */
.blog__item-img {
  width: 540px;
  height: 344px;
  background-image: url(../images/blog-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blog__item-title {
  padding: 20px 0 15px 0;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: capitalize;
  color: var(--accent);
}
.blog__item-link{
  padding-top: 15px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: var(--text-color);
  text-decoration: none;
}
.blog__item-line {
  padding: 14px 0 15px 0;
  width: 540px;
  border-bottom: 2px solid #ECF0F1;;
}
.blog__item-text {
  padding: 15px 0 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: var(--secondary-color, #9A9A9A);
}
.blog__btn {
  width: 144px;
  border: 1px solid var(--text-color);
  box-sizing: border-box;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--text-color);
  border-radius: 0px;
}

.section-title {
  position: relative;
  padding-top: 28px;
  padding-bottom: 32px;
  margin: 0 0 60px 0;
  font-family: var(--secondary-font);
  font-style: italic;
  font-weight: 300;
  line-height: 40px;
  line-height: 40px;
  text-transform: capitalize;
}
.section-title::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 115px;
  height: 3px;
  background-color: var(--accent);
  content: "";
}
.section-title::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 115px;
  height: 3px;
  background-color: var(--accent);
  content: "";
}
/* footer */
.footer {
  margin: 0;
  margin-top: 86px;
  padding-top: 65px;
  min-height: 157px;

  background-image: url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer__text {
  font-family: var(--secondary-font);
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  color: var(--pure-white);
}

/* Overlay */
.overlay {
  position: relative;
  z-index: 1;
}
.overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(34, 37, 51, 0.4);
  z-index: -1;
}

@media (max-width: 991.98px) {

  .header__nav-item + .header__nav-item {
    margin-left: 0;
  }
}